<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col">
        <ul class="contact-list">
          <li>e-mail : <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col">
          <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          </ul>
      </div>

      <div class="footer-col footer-col">
          <ul class="social-media-list">
          {% if site.orcid_username %}
          <li>
            {% include icon-orcid.html username=site.orcid_username %}
          </li>
          {% endif %}
          </ul>
      </div>

      <div class="footer-col footer-col">
          <ul class="social-media-list">
          {% if site.scholar_address %}
          <li>
            {% include icon-scholar.html username=site.scholar_username address=site.scholar_address %}
          </li>
          {% endif %}
          </ul>
      </div>


    </div>

  </div>

</footer>
